<!-- <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker"> -->
  <!-- <input placeholder="Select date" type="text" id="example" class="form-control"> -->
  <!-- <label for="example">Try me...</label> -->
  <!-- <i class="fas fa-calendar input-prefix" tabindex=0></i> -->
<!-- </div> -->

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="">選擇日期：</label>
            <div class="input-group date" id='date1'>
                <input type="text" class="form-control">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
        </div>
    </div>
</div>

