<div class="page_content">
	<h1>These are the news we have:</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-16/did-big-tech-get-too-big-u-s-crackdown-seeks-answer-quicktake</h1>
	<h1>https://www.cnbc.com/2020/10/16/us-aims-to-lower-troop-level-in-afghanistan-to-2500-by-early-2021-trump-advisor-says.html</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/california-preps-for-extreme-weather-video</h1>
	<h1>https://www.cnbc.com/2020/10/16/how-trump-and-biden-would-handle-the-student-loan-crisis.html</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/-bloomberg-real-yield-wells-fargo-s-george-bory-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/-bloomberg-surveillance-simulcast-full-show-10-16-2020-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/top-rank-president-sees-great-opportunity-in-pay-per-view-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/-balance-of-power-full-show-10-16-2020-video</h1>
	<h1>https://www.bloomberg.com/company/stories/how-experience-in-customer-support-can-benefit-your-career/</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-16/dimon-says-he-s-hopeful-biden-would-fix-some-of-america-s-issues</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/early-voters-surge-polls-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/trump-pressed-on-social-media-use-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/struggling-brooklyn-museum-to-auction-its-treasures-video</h1>
	<h1>https://www.cnbc.com/2020/10/16/3percent-social-security-hike-1200-stimulus-checks-how-to-get-money-to-seniors.html</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/tony-ressler-on-how-to-ensure-a-more-equitable-recovery-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/u-k-retailers-eye-christmas-sales-bump-video</h1>
	<h1>https://www.cnbc.com/2020/10/16/biden-trump-2020-election-impact-on-trade-us-dollar-markets.html</h1>
	<h1>https://www.cnbc.com/2020/10/16/republicans-file-election-complaint-against-twitter-over-hunter-biden-articles.html</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/spacex-could-save-economies-billions-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/who-gets-the-covid-vaccine-first-in-u-k-video</h1>
	<h1>https://www.cnbc.com/2020/10/16/rockefeller-heirs-call-on-banks-to-stop-lending-to-fossil-fuel-companies.html</h1>
	<h1>https://www.cnbc.com/2020/10/16/us-government-budget-ends-fiscal-year-with-a-more-than-3-trillion-deficit.html</h1>
	<h1>https://www.cnbc.com/2020/10/16/is-trump-or-biden-better-for-the-stock-market.html</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-16/army-of-day-traders-podcast</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/undecideds-like-trump-s-policies-says-pollster-luntz-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-16/nextdoor-is-said-to-eye-public-listing-5-billion-valuation</h1>
	<h1>https://www.cnbc.com/2020/10/16/obama-to-hit-the-campaign-trail-for-biden-next-week.html</h1>
	<h1>https://www.cnbc.com/2020/10/16/coronavirus-trump-administration-unveils-cvs-walgreens-vaccine-deal.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-16/top-court-to-hear-trump-clash-on-census-undocumented-immigrants</h1>
	<h1>https://www.bloomberg.com/news/newsletters/2020-10-16/your-evening-briefing-what-happens-when-you-ignore-warren-buffett</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-16/what-the-nba-bubble-can-teach-us-podcast</h1>
	<h1>https://www.cnbc.com/2020/10/16/treasury-encouraged-banks-to-prioritize-ppp-loans-for-existing-clients.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-16/trump-calls-on-justice-department-to-probe-minnesota-s-omar</h1>
	<h1>https://www.cnbc.com/2020/10/16/kansas-city-southern-chief-sees-modestly-strong-us-economic-recovery-continuing-t.html</h1>
	<h1>https://www.bloomberg.com/news/newsletters/2020-10-16/bts-fortune-gets-a-boost</h1>
	<h1>https://www.cnbc.com/2020/10/15/stock-market-futures-open-to-close-news.html</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-16/apple-introduces-iphone-12-with-5g-podcast-kgcsijom</h1>
	<h1>https://www.cnbc.com/2020/10/16/kamala-harris-attends-fundraiser-hosted-by-related-companies-execs.html</h1>
	<h1>https://www.cnbc.com/2020/10/16/twitter-backtracks-allows-sharing-of-new-york-post-biden-story.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-16/fbi-probed-if-purported-hunter-biden-emails-are-a-russian-plot</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/how-political-campaigns-are-thinking-as-election-nears-video</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-16/bloomberg-best-vaccine-snags-lockdowns-and-banking-podcast</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/the-institutions-are-already-here-for-digital-assets-anchorage-ceo-video</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-16/baystate-business-reaction-to-covid-s-rise-radio</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/why-jeffries-boosted-its-costco-price-target-to-425-video</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-16/sound-on-pa-rep-brendan-boyle-stimulus-stalemate-podcast</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/election-voting-events-up-30-over-2016-says-eventbrite-ceo-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/-what-d-you-miss-full-show-10-16-2020-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-16/europe-s-richest-person-s-net-worth-soars-on-luxury-rebound</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/hulu-gets-sidelined-by-disney-over-comcast-concerns-video</h1>
	<h1>https://www.cnbc.com/2020/10/16/supreme-court-will-hear-trump-appeal-to-exclude-undocumented-immigrants-from-census-count.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-16/australia-s-virus-hotspot-state-records-just-one-new-case</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-16/u-s-tops-8-million-cases-europe-breaks-records-virus-update</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-16/biden-campaign-says-it-will-raise-234-million-before-election</h1>
	<h1>https://www.cnbc.com/2020/10/16/more-volatility-is-likely-ahead-as-rising-cases-lack-of-stimulus-overshadow-strong-earnings.html</h1>
	<h1>https://www.cnbc.com/2020/10/16/amazon-care-telemedicine-service-job-listings-hint-at-expansion.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-16/twitter-allows-links-to-n-y-post-story-backtracking-again</h1>
	<h1>https://www.bloomberg.com/tosv2.html?vid=&uuid=e6de52c0-1075-11eb-9195-d5b101eb7e1d&url=L25ld3MvYXJ0aWNsZXMvMjAyMC0xMC0xNi91LXMtdG9wcy04LW1pbGxpb24tY2FzZXMtZXVyb3BlLWJyZWFrcy1yZWNvcmRzLXZpcnVzLXVwZGF0ZQ==</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-16/vertical-farming-to-prevent-food-loss-in-a-disaster-video</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-16/how-amy-coney-barrett-could-change-the-law-podcast</h1>
	<h1>https://www.bloomberg.com/tosv2.html?vid=&uuid=98ed83d0-109b-11eb-b741-8da87f23133a&url=L25ld3MvYXJ0aWNsZXMvMjAyMC0xMC0xNi9tdXNrLXNlZXMtZmlnaHRpbmctY2hhbmNlLWZvci1zdGFyc2hpcC1taXNzaW9uLXRvLW1hcnMtaW4tMjAyNA==</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-16/musk-sees-fighting-chance-for-starship-mission-to-mars-in-2024</h1>
	20201017.json
	<h1>https://www.wsj.com/articles/for-cooks-fear-can-be-a-secret-ingredient-11602907260</h1>
	<h1>https://www.wsj.com/articles/french-officials-identify-chechen-man-as-suspect-in-teacher-beheading-11602938009</h1>
	<h1>https://www.wsj.com/articles/spread-of-electric-cars-sparks-fights-for-control-over-charging-11602927000</h1>
	<h1>https://www.wsj.com/articles/with-fewer-covid-restrictions-souths-economy-outperforms-nation-11602927000</h1>
	<h1>https://www.wsj.com/articles/coronavirus-threatens-to-push-the-child-care-industry-over-the-edge-11602927001</h1>
	<h1>https://www.wsj.com/articles/wall-streets-hottest-financing-tool-makes-me-worry-about-the-market-11602927001</h1>
	<h1>https://www.wsj.com/articles/no-rocks-required-for-this-strength-building-climbing-workout-11602928801</h1>
	<h1>https://www.wsj.com/articles/new-zealand-prime-minister-jacinda-ardern-on-track-for-landslide-re-election-11602925740</h1>
	<h1>https://www.wsj.com/articles/new-jersey-election-officials-scramble-on-first-mostly-mail-in-vote-11602936000</h1>
	<h1>https://www.wsj.com/articles/what-is-a-nap-dress-and-why-do-women-want-it-so-badly-11602936029</h1>
	<h1>https://www.wsj.com/articles/union-voters-are-at-center-of-trump-vs-biden-battle-for-pennsylvania-11602939600</h1>
	<h1>https://www.wsj.com/articles/long-lines-early-ballots-new-polls-point-to-massive-voter-turnout-11602939973</h1>
	<h1>https://www.wsj.com/articles/amazon-primes-the-third-party-pump-11602941400</h1>
	<h1>https://www.wsj.com/articles/armenia-azerbaijan-conflict-11601325097</h1>
	<h1>https://www.wsj.com/articles/new-5g-iphones-kick-off-poaching-season-for-carriers-11602943200</h1>
	<h1>https://www.wsj.com/articles/how-covid-19-has-changed-the-way-people-should-save-for-college-11602885076</h1>
	<h1>https://www.wsj.com/articles/coronavirus-latest-updates-10-17-2020-11602928147</h1>
	<h1>https://www.wsj.com/articles/thailand-curtails-mass-transit-as-protesters-defy-gathering-ban-11602946652</h1>
	<h1>https://www.wsj.com/articles/for-some-college-students-living-on-campus-helps-their-gpa-11602884953</h1>
	<h1>https://www.wsj.com/articles/an-air-force-vet-needs-to-cut-expenses-and-debt-heres-some-advice-11602885827</h1>
	<h1>https://www.wsj.com/articles/protests-in-thailand-11602958880</h1>
	<h1>https://www.wsj.com/articles/trump-campaign-battles-democrats-for-latin-votes-in-florida-11602959116</h1>
	<h1>https://www.wsj.com/articles/china-warns-u-s-it-may-detain-americans-in-response-to-prosecutions-of-chinese-scholars-11602960959</h1>
	<h1>https://www.wsj.com/articles/colleges-and-the-nfl-are-playing-football-but-its-a-very-different-ballgame-11602943282</h1>
	<h1>https://www.wsj.com/articles/pepper-and-salt-11602887119</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-17/biggest-banks-have-only-grown-since-2008-crisis-diamond-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-17/how-markets-businesses-are-weighing-up-a-biden-win-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-17/interest-in-spacs-reflect-appetite-for-risk-says-grundfest-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-17/we-are-entering-another-period-of-revolution-says-summers-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-17/-bloomberg-markets-the-close-full-show-10-16-2020-video</h1>
	<h1>https://www.cnbc.com/2020/10/16/republicans-file-election-complaint-against-twitter-over-hunter-biden-articles.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/-lock-up-the-bidens-trump-says-at-georgia-campaign-rally</h1>
	<h1>https://www.bloomberg.com/opinion/articles/2020-10-17/india-won-t-be-the-next-china-if-it-can-t-even-out-export-bangladesh</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/australia-new-zealand-travel-bubble-hits-snag-as-rules-broken</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/trump-praises-congressional-candidate-who-has-backed-qanon</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/singapore-s-active-coronavirus-cases-fall-to-seven-month-low</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-17/disney-aborted-plan-to-take-hulu-abroad-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/brexit-promises-catch-up-with-johnson-in-covid-hotspots</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/airasia-x-to-liquidate-indonesia-operations-amid-woes-star-says</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/malaysia-s-anwar-gives-police-statement-on-list-of-allegations</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/a-quick-guide-to-sub-saharan-africa-s-upcoming-elections</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/india-selecting-300-million-people-for-covid-vaccine-times-says</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/pound-traders-shut-out-brexit-noise-until-real-deadline-nears</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/trader-turned-metals-tycoon-sets-sights-on-a-fallen-german-icon</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/counting-underway-in-n-z-election-as-ardern-eyes-second-term</h1>
	<h1>https://www.bloomberg.com/opinion/articles/2020-10-17/international-law-can-t-solve-greece-and-turkey-s-kastellorizo-island-problem</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/azerbaijan-says-12-civilians-killed-in-ganja-city-shelling</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/enel-may-approve-sale-of-open-fiber-stake-by-year-end-sole-says</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/thai-central-bank-extends-16-billion-soft-loan-program-for-smes</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/suspect-in-teacher-s-beheading-in-france-was-chechen-teen</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/best-mary-berry-recipe-mushroom-souffles-by-bake-off-star-from-comforts-book</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/n-z-election-brings-curtain-down-on-peters-colorful-career</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/poland-u-s-to-sign-nuclear-cooperation-agreement-monday-dgp</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/u-s-agency-to-support-2-500mw-nuclear-project-in-south-africa</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/jet-airways-lenders-approve-resolution-plan-for-bankrupt-firm</h1>
	<h1>https://www.bloomberg.com/news/newsletters/2020-10-17/bloomberg-new-economy-ant-group-caught-between-beijing-and-washington</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/biden-won-t-ban-fracking-but-his-clean-grid-would-choke-gas</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/he-was-mexico-s-defense-chief-the-u-s-says-he-s-a-drug-dealer</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/chinese-city-offers-vaccine-to-residents-local-media-report</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/nigeria-protests-unwavering-even-as-government-meets-demand</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/china-lawmakers-pass-export-control-law-protecting-vital-tech</h1>
	<h1>https://www.bloomberg.com/news/newsletters/2020-10-17/your-weekend-reading-the-winter-resurgence-of-covid-19-is-coming</h1>
	<h1>https://www.bloomberg.com/news/newsletters/2020-10-17/a-week-that-reshaped-the-vaccine-race</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/nato-calls-any-turkish-test-of-russian-made-s-400-regrettable</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/iran-ukraine-to-hold-plane-crash-talks-in-tehran-monday-irna</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/dr-reddy-s-russia-get-india-approval-for-human-vaccine-trial</h1>
	<h1>https://www.cnbc.com/2020/10/16/starboard-looks-to-keep-great-track-record-in-the-chip-industry.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/trudeau-is-preparing-to-test-limits-of-debt-financed-spending</h1>
	<h1>https://www.bloomberg.com/news/newsletters/2020-10-17/trump-woos-elderly-covid-19-roils-europe-weekend-reads</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/tanzania-opposition-leader-backs-lissu-as-presidential-candidate</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/hdfc-bank-s-profit-tops-estimate-as-loans-jump-bad-debt-drops</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/italy-considering-tightest-restrictions-since-national-lockdown</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/ailments-in-covid-19-trials-raise-questions-about-vaccine-method</h1>
	<h1>https://www.cnbc.com/2020/10/17/mark-cuban-on-stimulus-negotiations-all-of-congress-is-complicit.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/salzgitter-names-vattenfall-s-groebler-ceo-effective-2021</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/congo-government-proposes-7-2-billion-budget-for-2021</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-17/ardern-speaks-after-landslide-election-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/hedge-fund-in-talks-to-reacquire-some-flybe-assets-sky-reports</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-16/lab-that-provided-false-covid-test-results-faces-license-threat</h1>
	<h1>https://www.cnbc.com/2020/10/17/trump-and-biden-are-using-campaign-apps-to-gather-mounds-of-voter-data.html</h1>
	<h1>https://www.cnbc.com/2020/10/17/morgan-stanley-buys-eaton-vance-more-consolidation-may-lie-ahead.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/tesla-plant-construction-can-resume-as-water-blockade-lifts</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/china-finds-active-covid-19-virus-on-frozen-food-packaging</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/garda-expects-to-pay-up-to-403-million-in-fees-for-g4s-pursuit</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-17/scotus-debate-on-the-lincoln-highway-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/jaguars-working-remotely-after-positive-covid-19-test</h1>
	<h1>https://www.cnbc.com/2020/10/17/why-teslas-full-self-driving-feature-is-taking-so-long.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/blackstone-signs-non-binding-agreement-to-buy-prestige-s-assets</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/russia-saudi-arabia-ready-to-keep-energy-market-stable-kremlin</h1>
	<h1>https://www.cnbc.com/2020/10/17/why-freelancers-fear-a-biden-presidency-may-put-them-out-of-work.html</h1>
	<h1>https://www.cnbc.com/2020/10/17/bringing-the-outside-into-the-office-covid-19-bolsters-green-design-.html</h1>
	<h1>https://www.cnbc.com/2020/10/17/iphone-price-wars-are-back-as-carriers-compete-for-5g-customers-.html</h1>
	<h1>https://www.cnbc.com/2020/10/17/older-americans-are-selling-the-stock-market-slowly-but-ceaselessly-to-junior-generations.html</h1>
	<h1>https://www.cnbc.com/2020/10/17/how-to-pay-for-long-term-care-like-nursing-homes-home-health-aides.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/ecb-s-panetta-says-new-curbs-put-rebound-further-from-reach</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/oracle-chairman-donated-to-lindsey-graham-pac-during-tiktok-deal</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/police-in-belarus-disperse-another-protest-detain-scores</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/social-media-buzz-biden-s-animal-crossing-hq-new-zealand-votes</h1>
	<h1>https://www.cnbc.com/2020/10/17/coronavirus-impact-of-waiting-6-months-for-unemployment-benefits.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/u-s-meets-with-lebanon-security-head-amid-israel-talks-on-gas</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/officials-in-scotland-approve-another-trump-golf-course</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/france-reports-record-32-427-new-coronavirus-cases-in-24-hours</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-17/covid-looms-over-crab-harvesting-video</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-17/a-volatility-arbitrage-trader-on-markets-in-2020-podcast</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/broncos-running-backs-coach-tests-positive-for-coronavirus</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-17/several-killed-in-azeri-armenia-conflict-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/azerbaijan-armenia-agree-to-ceasefire-starting-at-midnight</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/as-lockdown-eases-israelis-again-gather-against-netanyahu</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-17/nigerian-mothers-join-youth-led-protests-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/china-warns-it-may-detain-u-s-citizens-over-scholar-probes-wsj</h1>
	<h1>https://www.cnbc.com/2020/10/17/op-ed-heres-how-trump-or-biden-can-help-save-democratic-capitalism.html</h1>
	<h1>https://www.cnbc.com/2020/10/17/us-may-face-substantial-third-wave-of-coronavirus-cases-experts-warn.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/a-kimchi-disaster-is-brewing-after-cabbage-fields-crippled</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/treat-covid-19-early-to-save-patients-lives-sars-veteran-urges</h1>
	<h1>https://www.cnbc.com/2020/10/17/senate-to-vote-on-500-billion-gop-coronavirus-stimulus-bill-wednesday.html</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-17/a-different-way-to-rein-in-the-supreme-court-podcast</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/trump-renews-attack-on-toppling-monuments-linked-to-slavery</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/u-s-reports-over-69-000-cases-most-since-july-virus-update</h1>
	<h1>https://www.cnbc.com/2020/10/17/us-reports-highest-number-of-new-coronavirus-case-since-late-july.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/opec-faces-growing-pressure-to-change-course-as-ministers-meet</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-17/mcconnell-sets-stimulus-votes-in-senate-beginning-tuesday</h1>
	20201018.json
	<h1>https://www.wsj.com/articles/coronavirus-pandemic-putting-damper-on-holiday-shopping-season-11603029601</h1>
	<h1>https://www.wsj.com/articles/nypd-forms-asian-hate-crime-task-force-11603040400</h1>
	<h1>https://www.wsj.com/articles/front-lines-and-hand-signals-thailands-protests-shift-tactics-influenced-by-hong-kong-11603039354</h1>
	<h1>https://www.wsj.com/articles/despit-pandemic-hotel-chains-grow-in-africa-11603036939</h1>
	<h1>https://www.wsj.com/articles/democrats-look-to-expand-house-majority-11603036800</h1>
	<h1>https://www.wsj.com/articles/u-s-to-offer-loans-to-lure-developing-countries-away-from-chinese-telecom-gear-11603036800</h1>
	<h1>https://www.wsj.com/articles/applying-to-college-during-covid-what-parents-and-students-should-know-11602885169</h1>
	<h1>https://www.wsj.com/articles/investors-beware-utility-stocks-could-become-less-predictable-11602884773</h1>
	<h1>https://www.wsj.com/articles/when-women-and-politics-took-over-baseball-11603029600</h1>
	<h1>https://www.wsj.com/articles/inside-the-first-narco-submarine-caught-after-crossing-the-atlantic-11603033200</h1>
	<h1>https://www.wsj.com/articles/spacs-could-be-a-bubble-that-never-quite-pops-11603029780</h1>
	<h1>https://www.wsj.com/articles/trump-hits-out-at-rivals-in-final-campaign-sprint-11603035226</h1>
	<h1>https://www.wsj.com/articles/where-trump-and-biden-stand-on-health-care-11603029600</h1>
	<h1>https://www.wsj.com/articles/democratic-party-power-broker-james-a-johnson-dies-at-76-11603034040</h1>
	<h1>https://www.wsj.com/articles/remember-the-forgotten-man-11603048669</h1>
	<h1>https://www.wsj.com/articles/no-quick-fix-for-social-media-bias-11603048637</h1>
	<h1>https://www.wsj.com/articles/french-officials-identify-chechen-man-as-suspect-in-teacher-beheading-11602938009</h1>
	<h1>https://www.wsj.com/articles/pelosi-tells-white-house-it-has-until-tuesday-to-reach-relief-deal-before-election-11603042667</h1>
	<h1>https://www.wsj.com/articles/where-do-i-go-to-get-my-covid-antibody-cocktail-11603052662</h1>
	<h1>https://www.wsj.com/articles/why-the-u-n-is-making-a-mockery-of-human-rights-11603052724</h1>
	<h1>https://www.wsj.com/articles/the-hidden-trap-in-bidens-tax-hike-11603052904</h1>
	<h1>https://www.wsj.com/articles/chiles-suicide-mission-11603052967</h1>
	<h1>https://www.wsj.com/articles/the-kidnapping-club-review-the-gotham-slave-trade-11603053130</h1>
	<h1>https://www.wsj.com/articles/notable-quotable-supreme-court-politics-11603052604</h1>
	<h1>https://www.wsj.com/articles/american-equity-reaches-brookfield-deal-over-takeover-offer-11603053540</h1>
	<h1>https://www.wsj.com/articles/protests-in-thailand-11602958880</h1>
	<h1>https://www.wsj.com/articles/a-u-n-human-rights-parody-11603054911</h1>
	<h1>https://www.wsj.com/articles/pelosis-latest-ultimatum-11603054965</h1>
	<h1>https://www.wsj.com/articles/the-cost-of-bidenomics-11603055037</h1>
	<h1>https://www.wsj.com/articles/white-house-touts-document-calling-for-herd-immunity-approach-to-covid-19-crisis-11603051550</h1>
	<h1>https://www.wsj.com/articles/pressure-on-new-york-city-commercial-real-estate-worries-investors-11603013400</h1>
	<h1>https://www.wsj.com/articles/coronavirus-latest-updates-10-18-2020-11603016168</h1>
	<h1>https://www.wsj.com/articles/top-white-house-official-flew-to-syria-for-talks-to-free-u-s-hostages-11603058616</h1>
	<h1>https://www.wsj.com/articles/a-couple-wants-enough-for-retirementand-to-keep-helping-their-sons-can-they-11602884875</h1>
	<h1>https://www.wsj.com/articles/courts-curtail-extended-deadlines-for-mail-in-ballots-11603062087</h1>
	<h1>https://www.wsj.com/articles/llr-collects-1-8-billion-to-invest-in-lower-midmarket-businesses-11603047602</h1>
	<h1>https://www.wsj.com/articles/economy-week-ahead-china-gdp-u-s-housing-and-jobless-claims-11603047600</h1>
	<h1>https://www.wsj.com/articles/one-of-the-worlds-toughest-coronavirus-lockdowns-eases-in-melbourneby-a-hair-11603018978</h1>
	<h1>https://www.wsj.com/articles/this-holiday-crunch-starts-early-with-more-packages-than-means-to-deliver-them-11603013401</h1>
	<h1>https://www.wsj.com/articles/whos-on-that-cross-of-gold-this-november-11603044632</h1>
	<h1>https://www.wsj.com/articles/illinois-and-california-taxing-unto-oblivion-11603044573</h1>
	<h1>https://www.wsj.com/articles/demonstrations-are-ok-but-public-worship-is-not-11603044521</h1>
	<h1>https://www.wsj.com/articles/what-if-those-ivy-league-justices-recuse-themselves-11603044466</h1>
	<h1>https://www.wsj.com/articles/arabella-advisors-says-it-is-nonpartisan-has-no-agenda-11603044302</h1>
	<h1>https://www.wsj.com/articles/amazon-embarrasses-itself-by-cancelling-shelby-steele-11603044339</h1>
	<h1>https://www.wsj.com/articles/inside-an-american-comeback-i-just-have-to-keep-myself-going-11603044046</h1>
	<h1>https://www.wsj.com/articles/trump-biden-president-election-vigo-county-indiana-11602795232</h1>
	<h1>https://www.wsj.com/articles/antonio-delgado-is-walking-to-re-election-after-scrappy-2018-win-11603062000</h1>
	<h1>https://www.wsj.com/articles/tax-increase-for-corporations-looks-more-likely-as-election-nears-11603026001</h1>
	<h1>https://www.wsj.com/articles/what-happens-to-my-unused-vacation-days-11603026000</h1>
	<h1>https://www.bloomberg.com/view/articles/2020-10-17/maybe-apple-isn-t-as-green-as-it-claims</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/aides-rejoin-trump-on-campaign-trail-after-their-own-covid-cases</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/australia-s-virus-state-eases-lockdown-as-case-numbers-fall</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/trump-attempts-a-positive-spin-on-fundraising-deficit-to-biden</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/new-zealand-has-first-community-case-of-covid-19-in-three-weeks</h1>
	<h1>https://www.bloomberg.com/opinion/articles/2020-10-18/ardern-s-nz-election-victory-shows-voters-want-covid-action</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/gulf-currency-pegs-offer-silver-lining-in-era-of-weaker-dollar</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/china-will-likely-show-covid-19-recovery-can-be-real-eco-week</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/new-currency-notes-gets-1-million-ethiopians-into-banking-system</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/virus-shines-a-light-on-housing-plight-of-israel-s-orthodox-jews</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/-made-in-iran-beats-sanctions-in-economy-donald-trump-tried-to-crush</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/american-air-sets-new-daily-miami-n-y-flight-for-737-max-debut</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/india-will-tap-skill-in-conducting-elections-to-deliver-vaccine</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-18/opec-faces-tough-choice-on-whether-to-ease-supply-cuts-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/italy-approves-budget-to-shore-up-economy-as-virus-cases-rise</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/dubai-s-amanat-to-invest-in-tech-start-ups-after-first-vc-deal</h1>
	<h1>https://www.bloomberg.com/opinion/articles/2020-10-18/u-s-election-joe-biden-would-be-a-sea-change-for-the-oil-price</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/shippers-close-to-global-deal-to-cut-greenhouse-gas-pollution</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/china-gives-shenzhen-greater-autonomy-to-attract-investment</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/brexit-is-no-match-for-the-pandemic-s-grip-over-european-markets</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/guinea-holds-presidential-vote-amid-tension-over-third-term-bid</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/italy-readies-new-virus-measures-with-london-paris-under-curbs</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/u-k-s-g4s-continues-to-reject-gardaworld-terms-for-takeover</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/thai-protesters-plan-rally-while-evading-authorities</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/israel-eases-coronavirus-restrictions-with-new-cases-declining</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/armenia-azerbaijan-cease-fire-is-again-broken-within-hours</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/chinese-firm-says-work-still-needed-on-drug-after-shares-surge</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/demonstrations-in-france-will-pay-tribute-to-slain-teacher</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/gove-says-u-k-still-wants-eu-trade-deal-door-is-still-ajar</h1>
	<h1>https://www.cnbc.com/2020/10/18/analysts-are-betting-on-stocks-like-apple-and-snap-during-earnings.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/ghosn-s-alleged-escape-accomplices-ramp-up-lobbying-campaign</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/a-hawkish-fed-bet-is-creating-buzz-in-key-part-of-rates-market</h1>
	<h1>https://www.bloomberg.com/tosv2.html?vid=&uuid=e3ef0180-1166-11eb-aac4-675ebb575de9&url=L25ld3MvYXJ0aWNsZXMvMjAyMC0xMC0xOC9hcmRlcm4tcy1zdHVubmluZy1lbGVjdGlvbi12aWN0b3J5LWhvbGRzLWxlc3NvbnMtZm9yLXRoZS11LXM=</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/ardern-s-stunning-election-victory-holds-lessons-for-the-u-s</h1>
	<h1>https://www.bloomberg.com/news/newsletters/2020-10-18/sunday-strategist-smart-breweries-are-becoming-platforms</h1>
	<h1>https://www.bloomberg.com/news/newsletters/2020-10-18/a-herd-mentality</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/british-airways-to-cut-gatwick-flights-mail-on-sunday-reports</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/bolivia-votes-for-president-after-a-year-without-elected-leaders</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/here-s-what-to-expect-in-europe-s-third-quarter-earnings-season</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/putin-to-hold-video-chat-with-business-leaders-this-week</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/china-urges-japan-to-reflect-after-suga-s-shrine-offering</h1>
	<h1>https://www.cnbc.com/2020/10/18/solar-etf-soars-as-biden-leads-in-election-polls.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/who-has-most-power-in-asia-u-s-leads-china-closes-in-and-india-falls-behind</h1>
	<h1>https://www.bloomberg.com/opinion/articles/2020-10-18/kominers-s-conundrums-a-meme-collision-for-the-ages</h1>
	<h1>https://www.cnbc.com/2020/10/18/philadelphia-76ers-doc-rivers-to-fix-culture-win-nba-future-business.html</h1>
	<h1>https://www.cnbc.com/2020/10/18/coronavirus-why-getting-into-an-ivy-league-college-is-still-difficult.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/aramco-sabic-to-reassess-20-billion-crude-to-chemicals-project</h1>
	<h1>https://www.cnbc.com/2020/10/18/2020-election-why-a-biden-win-could-be-a-win-for-cannabis.html</h1>
	<h1>https://www.bloomberg.com/opinion/articles/2020-10-18/facebook-twitter-google-can-t-be-good-censors-of-politics</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/royal-mail-seeks-lucrative-u-k-virus-contract-sunday-telegraph</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/boe-s-bailey-says-independence-was-crucial-to-virus-stimulus</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/israel-and-uae-agree-on-28-direct-flights-per-week-to-start-soon</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/intrum-replaces-ceo-ericson-for-next-phase-transformation</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/virus-resurgence-sees-world-central-bankers-stick-to-gloomy-tone</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/twitter-deletes-trump-health-adviser-s-claim-masks-don-t-work</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/fed-s-bostic-cautions-that-u-s-economic-recovery-is-very-uneven</h1>
	<h1>https://www.cnbc.com/2020/10/18/michigan-gov-gretchen-whitmer-trump-is-inciting-domestic-terrorism-.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/ex-dictator-s-fate-hangs-in-balance-as-icc-official-visits-sudan</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-18/native-americans-face-voting-barriers-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/summers-says-rising-federal-debt-won-t-crash-the-u-s-dollar</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/czech-police-clash-with-protesters-opposing-covid-19-curbs</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/erdogan-s-favored-candidate-wins-northern-cyprus-president-vote</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/new-york-state-moves-to-open-cinemas-ski-resorts-as-curbs-ease</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/trump-attends-mostly-mask-free-service-at-las-vegas-church</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/plan-to-retrieve-titanic-radio-spurs-debate-on-human-remains</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/american-equity-is-said-to-opt-for-brookfield-tie-up-over-sale</h1>
	<h1>https://www.cnbc.com/2020/10/18/us-threatens-sanctions-after-un-arms-embargo-against-iran-expires-.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/pound-traders-shut-out-brexit-talks-noise-until-real-deadline</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/u-k-could-rewrite-lawbreaking-brexit-bill-as-part-of-eu-deal</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-18/crowd-pays-tribute-to-teacher-in-paris-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/conte-bets-italy-can-slow-virus-with-targeted-restrictions</h1>
	<h1>https://www.cnbc.com/2020/10/18/pelosi-sets-48-hour-deadline-to-reach-coronavirus-stimulus-deal-before-election.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/top-world-robusta-grower-sees-harvest-delayed-by-la-nina-rains</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/boj-to-stand-pat-extend-covid-program-in-coming-months-survey</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/china-s-rebound-helps-to-stabilize-a-shattered-world-economy</h1>
	<h1>https://www.cnbc.com/2020/10/18/this-phistorical-trend-may-drive-stocks-higher-.html</h1>
	<h1>https://www.bloomberg.com/news/features/2020-10-18/china-s-big-fashion-problem-is-recycling-26-million-tons-of-used-clothes</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/u-k-says-time-running-out-for-brexit-preparation-by-companies</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-18/u-s-cases-over-50-000-again-italy-reports-record-virus-update</h1>
	<h1>https://www.bloomberg.com/news/newsletters/2020-10-18/bts-members-made-billions-for-big-hit-entertainment-ipo</h1>
	<h1>https://www.bloomberg.com/news/newsletters/2020-10-18/five-things-you-need-to-know-to-start-your-day</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-18/governors-ask-white-house-for-guidance-on-vaccine-cuomo-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-18/china-lawmakers-pass-export-control-law-to-protect-tech-video</h1>
	20201019.json
	<h1>https://www.wsj.com/articles/profits-are-good-but-so-are-societys-many-nonprofits-11603137104</h1>
	<h1>https://www.wsj.com/articles/the-myth-of-moderate-democrats-11603148312</h1>
	<h1>https://www.wsj.com/articles/bidens-public-option-would-mean-massive-tax-hikes-11603148387</h1>
	<h1>https://www.wsj.com/articles/china-deserves-a-day-in-court-11603148463</h1>
	<h1>https://www.wsj.com/articles/coronavirus-latest-updates-10-19-2020-11603095862</h1>
	<h1>https://www.wsj.com/articles/trouble-in-putins-neighborhood-11603149025</h1>
	<h1>https://www.wsj.com/articles/iran-arms-embargo-reckoning-11603149103</h1>
	<h1>https://www.wsj.com/articles/tax-raid-in-arizona-11603149226</h1>
	<h1>https://www.wsj.com/articles/new-york-aims-to-bring-back-25-of-city-government-workers-by-years-end-11603134569</h1>
	<h1>https://www.wsj.com/articles/kodaks-ceo-says-company-will-still-work-on-producing-drug-ingredients-11603136082</h1>
	<h1>https://www.wsj.com/articles/crosswinds-review-middle-east-balancing-act-11603149873</h1>
	<h1>https://www.wsj.com/articles/how-apprenticeship-reimagined-vaults-graduates-into-middle-class-11603099801</h1>
	<h1>https://www.wsj.com/articles/global-stock-markets-dow-update-10-19-2020-11603100257</h1>
	<h1>https://www.wsj.com/articles/u-s-treasurys-fincen-issues-60-million-penalty-against-operator-of-bitcoin-mixers-11603144315</h1>
	<h1>https://www.wsj.com/articles/supreme-court-allows-extension-for-mail-in-ballots-in-pennsylvania-11603149426</h1>
	<h1>https://www.wsj.com/articles/pioneer-natural-resources-is-in-talks-to-buy-parsley-energy-11603153466</h1>
	<h1>https://www.wsj.com/articles/intel-nears-deal-to-sell-nand-memory-unit-to-sk-hynix-11603129781</h1>
	<h1>https://www.wsj.com/articles/trump-to-remove-sudan-from-list-of-countries-that-sponsor-terrorism-11603133461</h1>
	<h1>https://www.wsj.com/articles/trump-criticizes-dr-fauci-during-call-with-campaign-staffers-11603128384</h1>
	<h1>https://www.wsj.com/articles/pelosi-mnuchin-narrow-differences-on-stimulus-package-her-spokesman-says-11603140134</h1>
	<h1>https://www.wsj.com/articles/moderna-ceo-expects-covid-19-vaccine-interim-results-in-november-11603164001</h1>
	<h1>https://www.wsj.com/articles/ant-group-nears-giant-ipo-after-green-light-from-hong-kongs-exchange-11603165781</h1>
	<h1>https://www.wsj.com/articles/trumps-middle-east-metamorphosis-11603148243</h1>
	<h1>https://www.wsj.com/articles/trucker-yrc-has-drawn-about-a-third-of-its-u-s-coronavirus-aid-11603147756</h1>
	<h1>https://www.wsj.com/articles/california-ballot-harvest-boomerang-11603149062</h1>
	<h1>https://www.wsj.com/articles/universal-tosses-cinemas-a-lifeline-while-testing-new-distribution-model-11603143782</h1>
	<h1>https://www.wsj.com/articles/the-senates-hearings-on-amy-coney-barrett-11603137159</h1>
	<h1>https://www.wsj.com/articles/john-mccain-warrior-politician-maverick-11603137206</h1>
	<h1>https://www.wsj.com/articles/zoom-eyes-ways-to-earn-from-its-pandemic-fueled-mass-appeal-11603137505</h1>
	<h1>https://www.wsj.com/articles/start-trading-tuesday-crossword-october-20-11603124298</h1>
	<h1>https://www.wsj.com/articles/in-bid-to-free-hostages-u-s-officials-met-syrian-intelligence-chief-sanctioned-by-u-s-eu-11603147229</h1>
	<h1>https://www.wsj.com/articles/letter-to-you-by-bruce-springsteen-a-memo-from-the-boss-11603138344</h1>
	<h1>https://www.wsj.com/articles/magic-leap-pivots-to-business-customers-in-sales-push-11603139244</h1>
	<h1>https://www.wsj.com/articles/u-s-charges-six-russian-intelligence-officers-with-hacking-11603126931</h1>
	<h1>https://www.wsj.com/articles/new-jerseys-covid-19-cases-rise-with-more-indoor-gatherings-11603139606</h1>
	<h1>https://www.wsj.com/articles/carrier-global-names-rockwells-goris-as-financial-chief-11603114163</h1>
	<h1>https://www.wsj.com/articles/have-the-bidens-denied-the-story-yet-11603139963</h1>
	<h1>https://www.wsj.com/articles/new-york-city-may-soon-lift-restrictions-on-some-covid-19-hot-spots-11603133738</h1>
	<h1>https://www.wsj.com/articles/hed-twilight-gods-review-drive-through-opera-in-the-motor-city-11603140655</h1>
	<h1>https://www.wsj.com/articles/with-concho-conocophillips-is-playing-offense-11603130107</h1>
	<h1>https://www.wsj.com/articles/france-vows-to-root-out-islamist-extremism-after-beheading-of-teacher-samuel-paty-11603139336</h1>
	<h1>https://www.wsj.com/articles/living-on-campus-helps-some-students-grades-11603145339</h1>
	<h1>https://www.wsj.com/articles/covid-patients-with-long-term-symptoms-turn-to-online-support-groups-11603145043</h1>
	<h1>https://www.wsj.com/articles/these-doctors-have-long-term-covid-now-theyre-pushing-for-better-care-11603144474</h1>
	<h1>https://www.wsj.com/articles/congresss-election-role-vs-supreme-courts-11603137131</h1>
	<h1>https://www.wsj.com/articles/mail-balloting-is-fueling-historic-early-voting-in-the-2020-election-11602591220</h1>
	<h1>https://www.wsj.com/articles/what-you-need-to-know-before-applying-to-college-this-year-11603143428</h1>
	<h1>https://www.wsj.com/articles/nigerian-protesters-shut-down-africas-largest-city-escalating-standoff-with-government-11603125398</h1>
	<h1>https://www.wsj.com/articles/conocophillips-to-buy-concho-resources-in-9-7-billion-stock-deal-11603107949</h1>
	<h1>https://www.wsj.com/articles/softbank-backs-out-of-consulting-deal-with-wework-co-founder-adam-neumann-11603136659</h1>
	<h1>https://www.cnbc.com/2020/10/19/trump-vs-biden-on-medicare-how-each-wants-to-change-it.html</h1>
	<h1>https://www.cnbc.com/2020/10/19/why-powerball-mega-millions-jackpots-arent-at-giant-amounts.html</h1>
	<h1>https://www.cnbc.com/2020/10/19/election-2020-stimulus-goldman-sachs-democratic-sweep.html</h1>
	<h1>https://www.cnbc.com/2020/10/19/nasa-is-launching-a-4g-mobile-network-on-the-moon.html</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/biden-should-have-significant-win-in-pennsylvania-says-rendell-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/housing-crisis-exacerbated-during-covid-19-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/u-k-s-tories-start-war-gaming-to-stop-scottish-independence</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/the-pursuit-of-equity-in-the-environment-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/goldman-gives-employees-paid-time-off-for-election-day-voting</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/scotland-independence-u-k-leaders-make-plan-to-block-second-referendum</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/harvard-opposes-u-s-plan-to-limit-stay-of-foreign-students</h1>
	<h1>https://www.cnbc.com/2020/10/19/bostic-says-the-fed-needs-to-do-more-to-address-racial-economic-impact-from-the-pandemic.html</h1>
	<h1>https://www.cnbc.com/2020/10/19/these-entrepreneurs-created-a-membership-platform-to-help-women-of-color-succeed-at-work.html</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/the-case-for-cash-scores-over-credit-scores-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/trump-says-fauci-made-a-lot-of-bad-calls-on-covid-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/softbank-is-said-to-amass-over-20-billion-in-public-stock-unit</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/maxwell-can-t-prevent-release-of-her-deposition-court-rules</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/trump-campaign-urges-change-in-debate-topics-but-not-rules</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/trump-i-think-we-ll-do-better-than-we-did-in-2016-video</h1>
	<h1>https://www.cnbc.com/2020/10/19/lobbyists-begin-to-prepare-for-a-potential-joe-biden-presidency-.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/ibm-revenue-beats-estimates-buoyed-by-growth-in-cloud-sales</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/ireland-returns-to-lockdown-as-stores-bars-to-close</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/creating-multi-generational-wealth-for-all-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/india-likely-to-let-suitors-decide-on-taking-air-india-debt</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/ireland-moves-back-to-lockdown-as-europe-seeks-to-defeat-virus</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/rise-of-xi-thought-shows-long-future-for-one-man-rule-in-china</h1>
	<h1>https://www.bloomberg.com/news/features/2020-10-19/death-of-an-infant-shows-cruelty-of-starving-in-a-country-of-food-abundance</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/cruz-says-zuckerberg-dorsey-expected-to-testify-to-second-panel</h1>
	<h1>https://www.cnbc.com/2020/10/19/coronavirus-stimulus-pelosi-and-mnuchin-discuss-relief-bill.html</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-19/balance-of-power-biden-pennsylvania-support-deficit-podcast</h1>
	<h1>https://www.cnbc.com/2020/10/19/tax-rates-could-top-60percent-und.html</h1>
	<h1>https://www.cnbc.com/2020/10/19/americans-could-face-long-wait-for-more-money-if-stimulus-talks-fail.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/u-k-sets-tuesday-deadline-for-deal-on-manchester-covid-rules</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/u-s-charges-six-russian-agents-with-hacking-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/life-is-back-to-normal-in-china-says-soho-china-ceo-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/colorado-fires-spreading-quickly-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/-what-d-you-miss-full-show-10-19-2020-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/asia-stocks-look-set-to-follow-u-s-peers-lower-markets-wrap</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/doubling-of-rbi-bond-buying-suggests-no-move-to-direct-financing</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/gm-said-to-plan-third-electric-vehicle-plant-in-big-plug-in-bet</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/challenges-remain-for-ardern-after-landslide-victory-in-new-zealand-video</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-19/beta-testing-pfizer-s-covid-19-vaccine-podcast</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-19/sound-on-stimulus-deadline-nashville-debate-china-podcast</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-19/derek-stevens-hopes-to-get-vegas-back-and-bumping-podcast</h1>
	<h1>https://www.bloomberg.com/news/newsletters/2020-10-19/your-evening-briefing-economic-rebound-is-grinding-ever-slower</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/oil-declines-on-stimulus-doubts-as-more-opec-supply-looms</h1>
	<h1>https://www.cnbc.com/2020/10/19/inflation-comeback-may-force-fed-to-tighten-jim-bianco-warns.html</h1>
	<h1>https://www.bloomberg.com/news/newsletters/2020-10-19/five-things-you-need-to-know-to-start-your-day-kgh4d5zn</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/cdc-issues-strong-call-for-wearing-masks-on-airplanes-trains</h1>
	<h1>https://www.cnbc.com/2020/10/19/these-charts-show-how-cares-act-savings-are-running-out-for-unemployed-americans.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/cut-price-deals-show-shale-s-rapid-decline-from-debt-fueled-boom</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/ireland-returns-to-lockdown-trump-rips-fauci-virus-update</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/piedmont-lithium-to-issue-u-s-shares-as-tesla-drives-interest</h1>
	<h1>https://www.cnbc.com/2020/10/19/coronavirus-trump-will-take-covid-19-test-before-joe-biden-debate.html</h1>
	<h1>https://www.cnbc.com/2020/10/19/ibm-earnings-q3-2020.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/nobel-prize-winner-urges-billionaires-to-fight-hunger-crisis</h1>
	<h1>https://www.cnbc.com/2020/10/19/cramer-consider-taking-some-profits-in-red-hot-stocks-such-as-zoom.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/top-court-rejects-pennsylvania-gop-allows-count-of-late-ballots</h1>
	<h1>https://www.cnbc.com/2020/10/19/trump-or-biden-will-need-support-from-allies-to-keep-china-in-check-hr-mcmaster-says.html</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/hbo-documentary-explores-florida-s-importance-in-u-s-elections-video</h1>
	<h1>https://www.cnbc.com/2020/10/19/jim-cramer-stocks-like-peloton-will-rise-until-pandemic-is-controlled.html</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/california-to-review-vaccine-before-distribution-newsom-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/citizens-financial-ceo-on-earnings-video</h1>
	<h1>https://www.cnbc.com/2020/10/19/iran-un-arms-embargo-lift-arms-upgrades-likely.html</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/speculators-reverse-big-nasdaq-short-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/-bloomberg-markets-the-close-full-show-10-19-2020-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/winn-dixie-fresco-owner-southeastern-files-for-u-s-ipo</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/toobin-suspended-by-the-new-yorker-for-personal-reasons</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-19/mock-meat-firm-v2food-aims-to-expand-globally-ceo-says-video</h1>
	20201020.json
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/goodbye-asbestos-quebec-town-picks-poetic-name-to-help-economy</h1>
	<h1>https://www.cnbc.com/2020/10/19/coronavirus-trump-calls-fauci-a-disaster-says-people-are-tired-of-covid.html</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-20/protesters-set-fire-to-two-churches-in-chile-video</h1>
	<h1>https://www.cnbc.com/2020/10/20/trump-and-biden-will-have-mics-muted-for-part-of-last-presidential-debate.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/exxon-says-trump-s-hypothetical-call-was-just-that-hypothetical</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-20/softbank-stock-trading-unit-said-to-amass-over-20-billion-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-20/intercontinental-energy-md-on-new-hub-for-renewable-energy-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/biden-trump-will-be-muted-at-times-during-final-debate</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-20/-bloomberg-daybreak-australia-full-show-10-20-2020-video</h1>
	<h1>https://www.cnbc.com/2020/10/20/best-road-trips-this-fall-us-uk-canada-taiwan-australia.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/goldman-poised-to-pay-more-than-2-billion-in-doj-s-1mdb-probe</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/gold-drops-as-investors-look-to-washington-for-stimulus-deal</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-20/intel-agrees-to-sell-storage-unit-to-sk-hynix-for-9-billion-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/india-considers-trade-talks-with-taiwan-as-both-spar-with-china</h1>
	<h1>https://www.cnbc.com/2020/10/20/us-china-tensions-could-split-the-internet-and-data-will-play-a-key-role.html</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-20/bloomberg-daybreak-asia-full-show-10-20-2020-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/sime-darby-is-said-to-mull-health-care-unit-spinoff-in-malaysia</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/lowe-s-aims-to-be-holiday-destination-with-scooters-trampolines</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/europe-s-ever-evolving-patchwork-of-covid-rules-sows-confusion</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/veggie-burger-or-veggie-disc-on-the-menu-eu-vote-will-decide</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/never-ending-brexit-sends-traders-to-far-flung-market-corners</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/defeat-for-trump-would-mean-some-other-leaders-also-lose-out</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/rogue-demographer-says-russia-covid-deaths-may-be-europe-s-worst</h1>
	<h1>https://www.cnbc.com/2020/10/20/lowes-pivots-to-a-broader-selection-of-holiday-gifts.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/jpmorgan-calls-turnaround-on-turkey-as-markets-warm-to-borrowers</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/in-russia-alibaba-baba-yandex-yndx-and-others-battle-for-online-crown</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/how-will-the-ecb-revive-inflation-in-the-eurozone</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/retailers-revel-as-stuff-not-experiences-makes-a-comeback</h1>
	<h1>https://www.cnbc.com/2020/10/20/shoppers-to-visit-fewer-stores-than-ever-this-holiday-season-deloitte.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/u-s-business-schools-foreign-student-enrollment-down-amid-covid-visa-rules</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-20/jay-jacobs-on-the-markets-radio</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-20/kim-forrest-on-the-markets-radio</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-20/christopher-smart-on-the-markets-radio</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/modi-is-said-to-seek-cash-from-coal-india-7-others-via-buyback</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/dubai-s-biggest-bank-profit-dives-as-provisions-more-than-double</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/malaysia-ruling-parties-umno-pas-to-formalize-pact-amid-turmoil</h1>
	<h1>https://www.bloomberg.com/news/audio/2020-10-20/increasing-interest-in-chinese-fixed-income-margolis-radio</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-20/the-elevation-of-xi-thought-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/ubs-lines-up-1-5-billion-for-buybacks-in-ermotti-s-last-quarter</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-20/oil-market-facing-too-much-uncertainty-fge-says-video</h1>
	<h1>https://www.cnbc.com/2020/10/20/sustainable-sneaker-start-up-allbirds-is-selling-sweaters-t-shirts.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/century-old-mill-turns-to-cleaner-steel-to-take-on-china</h1>
	<h1>https://www.bloomberg.com/news/newsletters/2020-10-20/the-price-of-not-going-green-brussels-edition</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-20/china-s-economy-recovering-from-covid-19-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/didi-seeks-2021-hong-kong-ipo-at-60-billion-value-reuters-says</h1>
	<h1>https://www.cnbc.com/2020/10/20/why-russia-could-be-worried-about-a-biden-presidency.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/robots-encroach-on-up-to-800-million-jobs-around-the-world</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/dubai-s-union-properties-restructuring-debt-to-weather-slump</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-19/greater-china-offshore-loans-post-worst-third-quarter-since-2012</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-20/ubs-ceo-ermotti-on-earnings-shareholder-payouts-video</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-20/final-presidential-debate-to-have-muted-mics-video</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/reckitt-benckiser-raises-sales-forecast-on-disinfectant-demand</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-20/south-korea-s-kimchi-crisis-video</h1>
	<h1>https://www.cnbc.com/2020/10/20/uk-strikes-deal-with-open-orphan-for-coronavirus-challenge-study.html</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/u-k-paves-way-for-first-tests-to-expose-people-to-coronavirus</h1>
	<h1>https://www.bloomberg.com/news/articles/2020-10-20/thai-cabinet-approves-parliament-session-to-discuss-protests</h1>
	<h1>https://www.bloomberg.com/news/videos/2020-10-20/union-properties-returns-to-profit-in-third-quarter-video</h1>
	<h1>https://www.cnbc.com/2020/10/20/apple-chinese-users-are-mainly-snapping-up-iphone-12-and-iphone-12-pro.html</h1>
	<h1>https://www.cnbc.com/2020/10/20/ubs-earnings-q3-2020.html</h1>
</div>